body {
	display: flex;
}

path {
	stroke: #dc3a3a;
	stroke-width: 1.6;
}

.ani path {
	stroke-dasharray: 60;
	stroke-dashoffset: 60;
	fill: #dc3a3a;
	fill-opacity: 0;
	animation: ani 6s ease-in-out infinite;
}

@keyframes ani {
	0% {
		stroke-dashoffset: 60;
		fill-opacity: 0;
	}
	60% {
		stroke-dashoffset: 0;
		fill-opacity: 0;
	}
	75% {
		fill-opacity: 100;
	}
	100% {
		stroke-dashoffset: 0;
		fill-opacity: 100;
	}
}